*{
    font-family: 'Montserrat', sans-serif;
}


.main{
    text-align: center;
    margin-top: 30vh;
}

.main h2{
    margin-bottom: 30px;
    color: white;
}

.main .change{
    background-color: black;
}
